*:focus {
  /* outline: none; */
  outline: 0px;
}

button:focus {
  outline: 0px;
}

:root {
  --primary: #3185FC;
  --sharp-blues: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  --sharp-blues-top-right: linear-gradient(to top right, #00c6fb 0%, #005bea 100%);
  --new-life: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  --lily-meadow: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  --fabled-sunset: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  --phoenix-start: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  --shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  --mini-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  --no-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

/* Bootstrap changes */

@media (min-width: 1200px) {
  /* .container {
    max-width: 700px;
  } */
}

body {
  /* overflow: hidden; */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: 0px;
  transition-duration: 0.4s;
}

button:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

button:active {
  box-shadow: var(--mini-shadow);
}

/* Coming soon */

.comingSoon {
  content: "Uskoro";
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  /* Fill parent div */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  /* Center USKORO text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.comingSoon:after {
  content: "Uskoro";
}

/* ICONS */

.svgIconSmallest {
  width: 18px;
  height: 18px;
}

.svgIconSmaller {
  width: 24px;
  height: 24px;
}

.svgIcon {
  width: 30px;
  height: 30px;
}

.svgIconBigger {
  width: 36px;
  height: 36px;
}

/* Other */

h1 {
  font-size: 24px;
  margin-bottom: 0rem;
}

h5 {
  margin-bottom: 0;
}

.app {
  overflow: hidden;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.boldText {
  font-weight: 650;
}

.clickable {
  cursor: pointer;
}

.details {
  display: inline-block;
  width: 100%;
  overflow-y: hidden;
}

.noResults {
  padding: 15px;
  text-align: center;
  margin-top: 5rem;
  color: grey;
}

.noResultsIcon {
  width: 125px;
  height: 125px;
  margin-top: 10px;
}

.clickableRow {
  background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
  color: white;
  cursor: pointer;
  font-weight: 800 !important;
  box-shadow: var(--shadow);
  transition-duration: 0.2s;
}

.clickableRow:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

.clickableRow:active {
  box-shadow: var(--mini-shadow);
}

.clickableRowCancel {
  background-image: linear-gradient(to left, #f83600 0%, #f9d423 100%);
  color: white;
  cursor: pointer;
  font-weight: 800 !important;
  box-shadow: var(--shadow);
  transition-duration: 0.2s;
}

.clickableRowCancel:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

.clickableRowCancel:active {
  box-shadow: var(--mini-shadow);
}

.detailsAboutText {
  text-align: justify;
}

.buttonReserve {
  width: 100%;
  background-color: var(--primary);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  border: 0px solid white;
  margin-top: 15px;
  padding: 3px;
}

.buttonCancel {
  background-image: var(--phoenix-start);
  border-radius: 15px;
  box-shadow: var(--mini-shadow);
  color: white;
  font-size: 24px;
  padding: 15px;
  margin: 10px;
}

.buttonConfirm {
  background-image: var(--sharp-blues);
  border-radius: 15px;
  box-shadow: var(--mini-shadow);
  color: white;
  font-size: 24px;
  padding: 15px;
  margin: 10px;
}