.loginScreen {
    background-image: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../Screens/LoginScreen/bg.jpeg);
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
  }
  
  .loginLogo {
    margin-top: 4rem;
    margin-bottom: 1rem;
    width: 75%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .loginParagraph {
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 75%;
    font-size: 18px;
    display: block;
  }
  
  .loginDetailsDiv {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 9rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .loginProfileImageLoaded {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: auto;
    width: 100px;
  }
  
  .facebook-btn {
    display: block;
    position: absolute;
    opacity: 50%;
    bottom: 0;
    margin-bottom: 9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: auto;
    background-color: #3b5998;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
  }
  
  .facebook-icon {
    height: 42px;
    display: inline-block;
  }
  
  .facebook-text {
    color: white;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
  }
  
  .google-btn {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: auto;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .google-icon {
    height: 42px;
    display: inline-block;
  }
  
  .google-text {
    color: #707070;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0px;
  }