body {
  /* overflow: hidden; */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.button {
  background-position: center;
  transition: background 0.8s;
}

.button:hover {
  background: #b0b0b0 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

h1 {
  font-size: 26px;
  margin-bottom: 0rem;
}

.app {
  overflow: hidden;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.boldText {
  font-weight: 600;
}

.clickable {
  cursor: pointer;
}

.loginScreen {
  background-image: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(./LoginScreen/bg.jpeg);
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
}

.loginLogo {
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 75%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.loginParagraph {
  color: white;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 75%;
  display: block;
}

.loginDetailsDiv {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 9rem;
  left: 50%;
  transform: translateX(-50%);
}

.loginProfileImageLoaded {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: auto;
  width: 100px;
}

.facebook-btn {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 9rem;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: auto;
  background-color: #3b5998;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}

.facebook-icon {
  height: 42px;
  display: inline-block;
}

.facebook-text {
  color: white;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0px;
}

.google-btn {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.google-icon {
  height: 42px;
  display: inline-block;
}

.google-text {
  color: #707070;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0px;
}

.list {
  display: inline-block;
  width: 100%;
}

.details {
  display: inline-block;
  width: 100%;
  overflow-y: hidden;
}

.noResults {
  text-align: center;
  margin-top: 5rem;
  color: #B0B0B0;
}

.noResultsIcon {
  font-size: 8rem;
}

.mainHeader {
  background-color: #3261D5;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}

.mainTitle {
  margin-bottom: 0.1rem;
  color: white;
  font-size: 14px;
  font-weight: 800;
}

.logoHeader {
  width: 75px;
  height: auto;
  align-self: center;
  margin: 5px;
}

#searchIcon {
  color: white;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  flex: 1;
  width: 300px;
  height: 25px;
  margin-left: 7px;
  border: 0px;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.peopleIcon {
  color: grey;
  display: inline-block;
}

.singleLine {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 60px;
  padding: 7px;
  cursor: pointer;
}

.lineCounter {
  margin-left: auto;
}

.lineFreeSeats {
  margin-left: auto;
  margin-right: 10px;
  font-size: 24px;
  margin-bottom: 0px;
}

.lineTitle {
  color: #707070;
  font-size: 24px;
  margin-bottom: 0px;
}

.listLogo {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  margin-right: 10px;
}

.detailsHeader {
  background-color: #3261D5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23);
}

.detailsTitle {
  color: white;
}

.detailsLogo {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.greyText {
  color: #707070;
}

.detailsRow {
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.detailRowText {
  position: absolute;
  text-align: left;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.detailIcon {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
}

.detailAbout {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.detailsRowSimple {
  position: relative;
  height: 50px;
}

.clickableRow {
  background-color: #3185FC;
  color: white;
  cursor: pointer;
}

.detailsAboutText {
  text-align: justify;
}

.goBack {
  color: white;
  display: flex;
  cursor: pointer;
}

.modal-content {
  border-radius: 1rem;
}

.modalInputDiv {
  display: block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modalInputText {
  font-size: 38px;
}

.modalInputTextDate {
  font-size: 32px;
}

.buttonReserve {
  width: 100%;
  background-color: #3185FC;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  border: 0px solid white;
  margin-top: 15px;
  padding: 3px;
}

.buttonCancel {
  width: 100%;
  background-color: #C50505;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  border: 0px solid white;
  margin-top: 15px;
  padding: 3px;
}