*:focus {
  outline: none;
}

:root {
  --primary: #3185FC;
  --sharp-blues: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  --shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  --mini-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

body {
  /* overflow: hidden; */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* .button {
  background-position: center;
  transition: background 0.8s;
}

.button:hover {
  background: #b0b0b0 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
} */

/* ICONS */

.svgIconSmallest {
  width: 18px;
  height: 18px;
}

.svgIconSmaller {
  width: 24px;
  height: 24px;
}

.svgIcon {
  width: 30px;
  height: 30px;
}

.svgIconBigger {
  width: 36px;
  height: 36px;
}

/* Other */

h1 {
  font-size: 26px;
  margin-bottom: 0rem;
}

.app {
  overflow: hidden;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.boldText {
  font-weight: 700;
}

.clickable {
  cursor: pointer;
}

.loginScreen {
  background-image: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(Screens/LoginScreen/bg.jpeg);
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
}

.loginLogo {
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 75%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.loginParagraph {
  color: white;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 75%;
  display: block;
}

.loginDetailsDiv {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 9rem;
  left: 50%;
  transform: translateX(-50%);
}

.loginProfileImageLoaded {
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: auto;
  width: 100px;
}

.facebook-btn {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 9rem;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: auto;
  background-color: #3b5998;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}

.facebook-icon {
  height: 42px;
  display: inline-block;
}

.facebook-text {
  color: white;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0px;
}

.google-btn {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.google-icon {
  height: 42px;
  display: inline-block;
}

.google-text {
  color: #707070;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0px;
}

.listHolder {
  padding-left: 20px;
  padding-right: 20px;
}

.list {
  display: inline-block;
  width: 100%;
}

.listSeparator {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  color: white;
  padding: 3px 10px;
  border-radius: 7px;
  cursor: context-menu;
}

.details {
  display: inline-block;
  width: 100%;
  overflow-y: hidden;
}

.noResults {
  text-align: center;
  margin-top: 5rem;
  color: #B0B0B0;
}

.noResultsIcon {
  width: 125px;
  height: 125px;
  margin-top: 10px;
}

.mainHeader {
  position: sticky;
  top: 0;
  z-index: 1002;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;
  box-shadow: var(--shadow);
}

.mainTitle {
  margin-bottom: 0.1rem;
  color: white;
  font-size: 14px;
  font-weight: 800;
}

.logoHeader {
  width: 150px;
  height: auto;
  align-self: center;
  margin: 5px;
}

.searchIcon {
  color: white;
  margin-left: 5px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B0B0B0;
  border-radius: 50px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.searchInput {
  flex: 1;
  width: 300px;
  height: 35px;
  margin-left: 7px;
  border: 0px;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: #B0B0B0;
  color: white;
}

.searchInput::placeholder {
  color: white;
}

.resetSearchIcon {
  color: white;
  margin-right: 5px;
  cursor: pointer;
}

.filtersContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.filterChipContainer {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background: linear-gradient(to top right, #f83600 0%, #f9d423 100%);
  padding: 3px;
}

.filterChip {
  background-color: white;
  color: black;
  padding: 3px 10px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.6s;
}

.filterChipActive {
  color: white;
  background-color: transparent;
}

.peopleIcon {
  color: grey;
  display: inline-block;
}

.closedObject {
  position: relative;
  /* border: 4px solid #B0B0B0; */
  padding: 4px;
  background-image: linear-gradient(to top left, #868f96 0%, #596164 100%);
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.normalObject {
  position: relative;
  padding: 4px;
  /* background: linear-gradient(to top right, #00c6fb 30%, #005bea 100%); */
  background-color: white;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.singleLine {
  position: relative;
  /* Potrebno da bi badge bio na svom mestu */
  display: flex;
  align-items: center;
  height: 75px;
  padding: 8px;
  cursor: pointer;
  border-radius: 7px;
  background-color: white;
}

.favoritBadgeContainer {
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom left, #868f96 0%, #596164 100%);
  /* background-image: transparent; */
  /* background: #005bea; */
  color: gold;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  z-index: 1;
}

.favoritBadge {
  margin: 1px 6px 2px 9px;
  display: flex;
  align-self: center;
}

.listBadge {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  color: white;
  padding-left: 5px;
  padding-top: 2px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-image: linear-gradient(to top left, #868f96 0%, #596164 100%);
}

.lineCounter {
  margin-left: auto;
}

.lineFreeSeats {
  margin-left: auto;
  margin-right: 10px;
  font-size: 24px;
  margin-bottom: 0px;
}

.lineTitle {
  color: #707070;
  font-size: 24px;
  margin-bottom: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listLogo {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  margin-right: 10px;
}

.detailsHeader {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  height: 75px;
  box-shadow: var(--shadow);
  transition-duration: 0.2s;
  /* margin-top: 0.01px; @todo this is hack so sticky animation can work */
}

.stickyDetailsHeader {
  height: 50px;
}

.detailsSubheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.detailsDurangoLogo {
  width: 200px;
  height: auto;
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.5s;
}

.stickyDurangoLogo {
  width: 150px;
}

.detailsTitle {
  color: black;
  font-size: 38px;
}

.randoVremeParagraph {
  display: inline-block;
  font-size: 20px;
  color: black;
}

.detailsLogo {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

.greyText {
  color: #707070;
}

.detailsRow {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-right: 20px;
  height: 70px;
  background-color: white;
  box-shadow: var(--shadow);
}

.detailsRowMini {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-right: 10px;
  min-height: 35px;
  max-height: 350px;
  background-color: white;
  box-shadow: var(--mini-shadow);
}

/* 1x2 grid */

.detailsRow2Container {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.detailsRow2Container>div {
  background-color: white;
  height: 35px;
  width: 100px;
  margin-left: 10px;
  text-align: left;
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  box-shadow: var(--mini-shadow);
}

.detailRowText {
  flex: 0 1 auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.detailRowTextMini {
  flex: 0 1 auto;
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  margin-left: 10px;
}

.detailIcon {
  flex: 0 1 auto;
  color: #B0B0B0;
  margin-left: auto;
}

.detailIconBlue {
  flex: 0 1 auto;
  color: var(--primary);
  margin-left: auto;
}

.detailIconClickable {
  flex: 0 1 auto;
  color: #98C2FE;
  margin-left: auto;
}

.detailAbout {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--mini-shadow);
}

.clickableRow {
  background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
  color: white;
  cursor: pointer;
  font-weight: 800 !important;
  box-shadow: var(--shadow);
}

.clickableRowCancel {
  background-image: linear-gradient(to left, #f83600 0%, #f9d423 100%);
  color: white;
  cursor: pointer;
  font-weight: 800 !important;
  box-shadow: var(--shadow);
}

.detailsAboutText {
  text-align: justify;
}

.reserveContainer {
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.reserveCalendarContainer {
  display: flex;
  align-content: center;
  margin-bottom: 30px;
}

.react-date-picker__wrapper, .react-time-picker__wrapper {
  border: 0px !important;
}

.reserveCalendar {
  background-color: white;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
  font-size: 26px;
  height: 50px;
  box-shadow: var(--shadow);
}

.reserveCalendarMain {
  font-size: 18px;
}

.reserveTimeContainer {
  display: flex;
  align-content: center;
  margin-bottom: 30px;
}

.reserveTime {
  background-color: white;
  /* width: 300px; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
  font-size: 26px;
  height: 50px;
  box-shadow: var(--shadow);
}

.reserveClockIcon {
  font-size: 20px;
}

.reserveSeatsContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
  height: 75px;
  width: 125px;
  padding: 20px;
  box-shadow: var(--shadow);
}

.reserveSeatsButton {
  flex: 1;
  cursor: pointer;
  font-size: 26px;
  background-color: white;
  border: 0px;
  outline: 0px;
}

.reserveSeatsCounter {
  flex: 2;
  font-size: 38px;
}

.reserveText {
  font-size: 24px;
  color: black;
  font-weight: 300;
}

.reserveModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.reserveModalLogo {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.reserveModalTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.reserveModalExplanation {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.goBack {
  flex: 0 1 auto;
  color: var(--primary);
  display: flex;
  cursor: pointer;
  margin-right: auto;
}

.modal-content {
  border-radius: 1rem;
}

.modalInputDiv {
  display: block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modalInputText {
  font-size: 38px;
}

.modalInputTextDate {
  font-size: 32px;
}

.buttonReserve {
  width: 100%;
  background-color: var(--primary);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  border: 0px solid white;
  margin-top: 15px;
  padding: 3px;
}

.buttonCancel {
  width: 100%;
  background-color: #C50505;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  border: 0px solid white;
  margin-top: 15px;
  padding: 3px;
}

/* GLOWING FLUENT EFFECT */

.reveal-focus-blue {
  /* border: 1px solid transparent !important; */
  /* outline: 5px solid transparent !important; */
  position: relative !important;
  /* border-color: #000 !important; */
  outline-color: var(--primary) !important;
  /* box-shadow: 0 0 15px 3px #3185FC !important; */
  animation: glowfade-blue 2s ease-in-out;
  -moz-animation: glowfade-blue 2s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: 1 !important;
}

@keyframes glowfade-blue {
  from {
    box-shadow: 0 0 20px 5px var(--primary);
  }
  to {
    box-shadow: 0 0 10px 3px var(--primary);
  }
}

.reveal-focus-red {
  /* border: 1px solid transparent !important; */
  /* outline: 5px solid transparent !important; */
  position: relative !important;
  /* border-color: #000 !important; */
  outline-color: red !important;
  /* box-shadow: 0 0 15px 3px red !important; */
  animation: glowfade-red 2s ease-in-out;
  -moz-animation: glowfade-red 2s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: 1 !important;
}

@keyframes glowfade-red {
  from {
    box-shadow: 0 0 20px 5px red;
  }
  to {
    box-shadow: 0 0 10px 3px red;
  }
}

/* CLAPS */

.clapsContainer {
  position: fixed;
  bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  right: 0;
  left: 0;
}

.clapsSliderContainer {
  background: white;
  box-shadow: var(--shadow);
  border-radius: 50px;
  padding: 15px 30px;
  margin-right: 20px;
  width: 100%;
}

.clapsTriggerContainer {
  border-radius: 50px;
  padding: 20px;
  background-image: linear-gradient(to top right, #f83600 0%, #f9d423 100%);
  color: white;
  box-shadow: var(--shadow);
  cursor: pointer;
  user-select: none;
  margin-left: auto;
  transition-duration: 0.1s;
  display: flex;
}

.clapsTriggerContainer:active {
  padding: 25px;
}

emoji-slider {
  --emoji-slider-bar-color: linear-gradient(to right, transparent 0%, gray 100%);
  --emoji-slider-bar-active-color: linear-gradient(to left, #f83600 0%, #f9d423 100%);
}

/* Route Animations */

.container {
  position: relative;
}

.page {
  position: absolute;
  top: 75px; /* DetailsHeader je fixed sa visinom 75px */
  left: 0px;
  right: 0px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 200ms, transform 200ms;
}

/* Input Panel */

.IP-time {
  font-size: 32px;
}