.button {
  background-position: center;
  transition: background 0.8s;
}
.button:hover {
  background: #bbff00 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

h1 {
  font-size: 24px;
}

.list {}

#searchIcon {
  color: white;
  margin-left: 10px;
}

.peopleIcon {
  color: grey;
  display: inline-block;
}

.search {
  display: flex;
  background-color: #3261D5;
  align-items: center;
  justify-content: center;
}

.searchInput {
  flex: 1;
  width: 300px;
  height: 30px;
  margin: 10px;
  border-radius: 50px;
}

.singleLine {
  display: flex;
  align-items: center;
  /* justify-content: left; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 60px;
  padding: 7px;
  cursor: pointer;
}

.lineCounter {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.lineFreeSeats {
  display: inline-block;
  margin-right: 10px;
}

.lineTitle {
  color: #707070;
  font-size: 18px;
  margin-right: 10px;
}

.listLogo {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 10px;
}

.detailsHeader {
  background-color: #3261D5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 70px;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16), 0 6px 9px rgba(0, 0, 0, 0.23);
}

.detailsTitle {
  color: white;
}

.detailsLogo {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.greyText {
  color: #707070;
}

.detailsRow {
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  align-items: center;
  justify-content: center;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.detailAbout {
  padding-left: 10px;
  padding-right: 10px;
}

.detailsRowSimple {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickableRow {
  background-color: #FCA731;
  color: white;
  cursor: pointer;
}

.detailRowText {
  text-align: center;
  width: 95%;
}

.detailIcon {
  width: 5%;
}

.detailsAboutText {
  text-align: justify;
}

.goBack {
  color: white;
  display: flex;
  cursor: pointer;
}